{% extends 'main.html' %}
{% block content %}

<!-- TEMPLATE UPDATED -->

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <div class="w3-row">
        <div class="w3-col w3-center">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class=" w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h2>Boards</h2>
                            <form action="{% url 'home' %}" method="GET">
                                <input class="w3-input w3-border" type="text" name="q" placeholder="Search boards....">
                            </form>
                            {% if request.user.is_authenticated %}
                            <br>
                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
                                <a href="{% url 'create-board' %}">Create Board</a>
                            </button> 
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% for board in boards %}
            <div class="w3-container w3-card w3-white w3-round w3-margin w3-border"><br>
                <h4><a href="{% url 'board' board.topic %}">{{board.topic}}</a></h4>
                <hr class="w3-clear">
                <p>{{board.description}}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<br>



{% endblock content %}