{% extends 'main.html' %}
{% block content %}

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
    <div class="w3-row">
        <div class="w3-col w3-center">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class=" w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h2>Profile</h2>
                            <h4>@{{profile.name}}</h4>
                            <p>{{board.description}}</p>
                            {% if request.user == profile %}
                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
                                <a href="{% url 'edit-profile' profile.name %}">Edit Profile</a>
                            </button> 
                            {% endif %} 
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin w3-border"><br>
                <h4>Bio:</h4>
                <p>{{profile.bio}}</p>
                <br>
            </div>

        </div>
    </div>
</div>

<br>




{% endblock content %}